version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: expense_reviewer
      POSTGRES_USER: johndoe
      POSTGRES_PASSWORD: myrandompassword_
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U johndoe"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
  redis:
    image: redis:7
    container_name: my_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  # ollama:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.ollama
  #   container_name: ollama
  #   restart: unless-stopped
  #   entrypoint: ["sh", "/start-ollama.sh"]
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama
  #     - ./start-ollama.sh:/start-ollama.sh
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:11434"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

volumes:
  pgdata:
  # ollama_data:
