<h2>Hello, {{name}}!</h2>
<p>
  Your expenses for the month of
  {{month}}
  have been reviewed.
</p>
<p>
  Review Comment:
</p>
<p>
  <em>{{reviewComment}}</em>
</p>
<p>
  <a href='{{link}}' class='button'>View More</a>
</p>